HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistis.xml
.idea/**/compiler.xml
.idea/**/encodings.xml
.idea/**/dbnavigator.xml
.idea/**/jarRepositories.xml
.idea/**/shelf
.idea/**/dictionaries
.idea/**/inspectionProfiles
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea/misc.xml
/.idea
.idea/workspace.xml
